{:paths ["01", "02", "03", "04", "05"]
 :deps
 {clojure.java-time/clojure.java-time {:mvn/version "1.1.0"}
  io.github.nextjournal/clerk {:mvn/version "0.15.957"}
  org.clojure/core.match {:mvn/version "1.0.1"}}
 :aliases {:nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                               :jvm-opts ["-Dclojure.main.report=stdout"]
                               :exec-args {:index "index.clj"
                                           :compile-css true
                                           :paths ["01/day01.clj", "02/day02.clj", "03/day03.clj", "04/day04.clj", "05/day05.clj"]}}}}